Options -Indexes -ExecCGI
<FilesMatch "(?i)\.(php[0-9]?|phtml|phar|cgi|pl|py|sh|html?|svg|js)$">
Require all denied
</FilesMatch>
<IfModule mod_headers.c>
Header set X-Content-Type-Options "nosniff"
</IfModule>
